<div id="mc_embed_signup">
<form action="http://api.myngp.com/v2/Forms/1917970491306409984" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <input type="email" value="" required name="EmailAddress" class="required email" placeholder="EMAIL ADDRESS" id="mce-EMAIL"><!--
  --><input type="text" value="" required placeholder="ZIP" name="PostalCode" class="required zip" id="mce-ZIP"><!--
  --><input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe">
    <input type="hidden" name="YesSignMeUpForUpdatesForBinder" value="true">
    <input type="hidden" name="type" value="SignupForm">
</form>
</div>
<script>
$(function() {
    $('#mc-embedded-subscribe-form').submit(function(e) {
        var $form = $(this);
        $.ajax({
            type: 'POST',
            url: $form.attr('action'),
            data: $form.serialize(),
            complete: function() {
                $form.html('<div class="email-thanks dark"><span class="icon check"></span><span>Thanks for signing up.<span></div>');
            }
        });

        return false;
    });
});
</script>
