<style>
.sidebar a.donate {
  font-family: 'League Gothic';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 33px;
  background: #f93348;
  color: white;
  display: inline-block;
  padding: 14px 20px;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  }
.rcon.github:after, .icon.github:before {
  background-position: -1303px 0;
  }
.rcon.contact:after, .icon.contact:before {
  background-position: -1184px 0;
  }
div.license {
  font-size: .8em;
  }
#edit-contactinformation > legend > span {
  display: none;
  }
.sidebar a.button {
  color: #303e48;
  background: #91c0eb;
  border-radius: 0;
  text-align: left;
  }
.sidebar a.button:hover {
  color: white; 
  }
.comment-form {
  margin-bottom: 25px;
  display: none;
  }
.comment-form.active {
  display: block;
  }
a[href="#comment"].active {
  background-color: #f93348;
  color: white;
  }
#edit-submitform {
  margin-top: 0 !important;
  }
.form-type-textfield {
  box-sizing: border-box;
  width: 50% !important;
  padding-right: 5px !important;
  float: left;
  }
.form-type-textfield label {
  white-space: nowrap;
  }
.form-item-LastName, .form-item-EmailAddress {
  padding-right: 0 !important;
  padding-left: 5px !important;
  }
</style>
<script>
  $(function(){
      $('a[href="#comment"]').click(function() {
          $('a[href="#comment"], .comment-form').toggleClass('active');
      });
  });
</script>
<h2>Make a suggestion</h2>
<p>Send us your idea or story:</p>
<p><a class="icon contact button" href="#comment">Comment</a></p>
<div class="comment-form">
  {% include form.html form="-5568700939243618304" %}
</div>
<p>Or edit this content directly:</p>
<p><a class="icon github button" href="{{page.edit}}" target="_blank">Edit on GitHub</a></p>

<h2>Support this issue</h2>
<p>Our campaign is funded by contributions from people like you. If you'd like to see this policy become law, make a contribution to support it now:</p>
<a class="donate" href="{{site.parenturl}}contribute">Contribute</a>

<h2>Use this content</h2>
<div class="license">
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Issues</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://coleforcongress.com" property="cc:attributionName" rel="cc:attributionURL">Cole for Congress</a> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
</div>